[ req ]
prompt                 = no
distinguished_name     = dn

[dn]

[ ca_req ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = critical, CA:TRUE
keyUsage               = cRLSign, digitalSignature, keyCertSign

[ client_req ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment
extendedKeyUsage       = clientAuth

[ server_req ]
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid:always, issuer:always
basicConstraints       = CA:FALSE
keyUsage               = digitalSignature, nonRepudiation, keyEncipherment, keyAgreement
extendedKeyUsage       = serverAuth
